/* Navbar.css */
.navbar {
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    opacity: 1;
  }
  .navbar>.btn-link{
    color: white;
    text-transform:capitalize;
    font-size: 18px;
  }
  .navbar-title {
    color: white;
    flex-grow: 1;
    text-align: left;
    font-size: 18px;
  }
  